body {
    background-image: url('imgs/back.jpg') ;
    background-size: 2000px 100%;
    background-position: center left 80px;
    font-family: Arial;
    margin: 0;
}

span {
    color: #000000;
    text-align: center;
    font-size: 30px;
}

h1 {
    color: #35a2ff;
    text-align: center;
    font-size: 100px;
}

.container {

    
}

table {
    border: 5px;
    border-radius: 15px; 
    border-collapse: separate; 
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    background-color: beige;
}

td, th {
    border: 2px; /* Cell border */
    padding: 7px;
    text-align: center;
}
